UnitTest/Connected Services/PaymentService/PaymentBoxService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentBox" nillable="true" type="tns:PaymentBox" />
  <xs:complexType name="ArrayOfPaymentBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentBox" nillable="true" type="tns:PaymentBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentBox" nillable="true" type="tns:ArrayOfPaymentBox" />
</xs:schema>