ViewModels/Connected Services/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/CustomerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/CustomerService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Service.Faults" />
      <xsd:import schemaLocation="http://localhost:8080/CustomerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/CustomerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Add_SqlUniqueFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service.Faults" name="detail" element="q1:SqlUniqueFault" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SelectAllUnattendedCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUnattendedCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SelectAllUnattendedCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUnattendedCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/Add" message="tns:ICustomerService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/AddResponse" message="tns:ICustomerService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/AddSqlUniqueFaultFault" name="SqlUniqueFaultFault" message="tns:ICustomerService_Add_SqlUniqueFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/Update" message="tns:ICustomerService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/UpdateResponse" message="tns:ICustomerService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/Delete" message="tns:ICustomerService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/DeleteResponse" message="tns:ICustomerService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/SelectAll" message="tns:ICustomerService_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/SelectAllResponse" message="tns:ICustomerService_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/SelectById" message="tns:ICustomerService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_Customer/SelectByIdResponse" message="tns:ICustomerService_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllUnattendedCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/SelectAllUnattendedCustomers" message="tns:ICustomerService_SelectAllUnattendedCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/SelectAllUnattendedCustomersResponse" message="tns:ICustomerService_SelectAllUnattendedCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_Customer/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SqlUniqueFaultFault">
        <soap:fault use="literal" name="SqlUniqueFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_Customer/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_Customer/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_Customer/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_Customer/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllUnattendedCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/SelectAllUnattendedCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8080/CustomerService/CustomerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>