ViewModels/Connected Services/PaymentBoxService/PaymentBoxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PaymentBoxService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PaymentBoxService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/PaymentBoxService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Service.Faults" />
      <xsd:import schemaLocation="http://localhost:8080/PaymentBoxService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/PaymentBoxService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentBoxService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Add_SqlUniqueFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service.Faults" name="detail" element="q1:SqlUniqueFault" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Activate_InputMessage">
    <wsdl:part name="parameters" element="tns:Activate" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Activate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Activate_SqlInvalidOperationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Service.Faults" name="detail" element="q2:SqlInvalidOperationException" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Deactivate_InputMessage">
    <wsdl:part name="parameters" element="tns:Deactivate" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Deactivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_Deactivate_SqlInvalidOperationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Service.Faults" name="detail" element="q3:SqlInvalidOperationException" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectLastId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastId" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectLastId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectIdByName" />
  </wsdl:message>
  <wsdl:message name="IPaymentBoxService_SelectIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectIdByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentBoxService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/Add" message="tns:IPaymentBoxService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/AddResponse" message="tns:IPaymentBoxService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/AddSqlUniqueFaultFault" name="SqlUniqueFaultFault" message="tns:IPaymentBoxService_Add_SqlUniqueFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/Update" message="tns:IPaymentBoxService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/UpdateResponse" message="tns:IPaymentBoxService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/Delete" message="tns:IPaymentBoxService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/DeleteResponse" message="tns:IPaymentBoxService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/SelectAll" message="tns:IPaymentBoxService_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/SelectAllResponse" message="tns:IPaymentBoxService_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/SelectById" message="tns:IPaymentBoxService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDServiceOf_PaymentBox/SelectByIdResponse" message="tns:IPaymentBoxService_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Activate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentBoxService/Activate" message="tns:IPaymentBoxService_Activate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentBoxService/ActivateResponse" message="tns:IPaymentBoxService_Activate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPaymentBoxService/ActivateSqlInvalidOperationExceptionFault" name="SqlInvalidOperationExceptionFault" message="tns:IPaymentBoxService_Activate_SqlInvalidOperationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deactivate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentBoxService/Deactivate" message="tns:IPaymentBoxService_Deactivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentBoxService/DeactivateResponse" message="tns:IPaymentBoxService_Deactivate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPaymentBoxService/DeactivateSqlInvalidOperationExceptionFault" name="SqlInvalidOperationExceptionFault" message="tns:IPaymentBoxService_Deactivate_SqlInvalidOperationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectLastId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentBoxService/SelectLastId" message="tns:IPaymentBoxService_SelectLastId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentBoxService/SelectLastIdResponse" message="tns:IPaymentBoxService_SelectLastId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentBoxService/SelectIdByName" message="tns:IPaymentBoxService_SelectIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentBoxService/SelectIdByNameResponse" message="tns:IPaymentBoxService_SelectIdByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentBoxService" type="tns:IPaymentBoxService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_PaymentBox/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SqlUniqueFaultFault">
        <soap:fault use="literal" name="SqlUniqueFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_PaymentBox/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_PaymentBox/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_PaymentBox/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/ICRUDServiceOf_PaymentBox/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Activate">
      <soap:operation soapAction="http://tempuri.org/IPaymentBoxService/Activate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SqlInvalidOperationExceptionFault">
        <soap:fault use="literal" name="SqlInvalidOperationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Deactivate">
      <soap:operation soapAction="http://tempuri.org/IPaymentBoxService/Deactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SqlInvalidOperationExceptionFault">
        <soap:fault use="literal" name="SqlInvalidOperationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectLastId">
      <soap:operation soapAction="http://tempuri.org/IPaymentBoxService/SelectLastId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectIdByName">
      <soap:operation soapAction="http://tempuri.org/IPaymentBoxService/SelectIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentBoxService">
    <wsdl:port name="BasicHttpBinding_IPaymentBoxService" binding="tns:BasicHttpBinding_IPaymentBoxService">
      <soap:address location="http://localhost:8080/PaymentBoxService/PaymentBoxService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>